.App {
  background-color: var(--bggray);
  height: 100vh;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

:root {
  --lightgray: #B2B2B2; 
  --bggray: #ebebeb; 
}

p {
  margin: 0;
}

h1 {
  font-size: 4rem;
}


hr {
  border: 0;
  height: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* =========== REUSEABLE ============= */

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-space-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.block {
  width: 80%;
  /* width: 90%; */
  margin: 1rem;
  padding: 1.5rem;
  background-color: #fff;
}

.icon {
  width: 8rem;
}

.center{
  text-align: center;
}
.form {
  padding-top: 3rem;
  flex-wrap: wrap;
}
.search {
  width: 40%;
}
.btn {
  text-align: center;
  margin-bottom: 1.5rem;
}

.red {
  color: rgb(206, 23, 23);
  font-size: 2rem;
}
/* ==================================== */




/* ============== App ============== */



.app-container {
  width: 900px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  /* margin-top: 5rem; */
  
}

/* .app-container__location {
  margin: 0;
  margin-top: .5rem;
} */


/* ============== Now ============== */


.now__location {
  text-transform: capitalize;
}

.now__icon {
  /* background-color: blue; */
  margin: 0 1rem;
}

.now__info {
  /* background-color: yellow; */
  margin: 0 1rem;
  position: relative;
  top: -14px;

}

.now__info-temp-hi {
  font-size: 5rem;
}

.now-info-temp-hi-label {
  font-size: 1.5rem;
  position: relative;
  left: -14px;
  color: var(--lightgray);
}

.now__info-realfeel {
  color: var(--lightgray);
}
/* .now__info-phrase {
  line-height: 1
} */




/* ============== Daily ============== */

.daily__header {
  margin-bottom: .5rem;
}


.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}


.day {
  flex: 0 0 auto;
  margin: 1rem;
  padding: .5rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }


  .day__icon-box {
    margin: 1.5rem 0;
  }

 /* .daily__day::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; 
}


.daily__day::-webkit-scrollbar-thumb {
    background: #000; 
} */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; 
}

::-webkit-scrollbar-thumb {
    background: #000; 
}